h1 {
  text-align:center;
  color:#0BC00B;
}
.Food {
  color:darkred;
}
.Snacks {
  color:darkgreen;
  text-decoration:underline;
}
body {
  background-color:Gold;
}
#unbeatables {
  height:100px;
  width:150px;
}
.htbl {
  height:110px;
}